@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .2); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none; */ 
  font-size: clamp(0.5rem, 1.4vw, 3rem);
}

img {
  display: block;
  width: clamp(100px, 50%, 700px);
}

#root {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  --tw-bg-opacity: 1;
  /* background-color: rgb(17 24 39 / var(--tw-bg-opacity)); */
  background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));
  background-blend-mode: normal, normal;
  color: rgb(255, 255, 255);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  --tw-text-opacity: 1;
  /* color: rgb(255 255 255 / var(--tw-text-opacity)); */
}

a {
  text-decoration: none;
}
